@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--col-background: theme(--color-neutral-50);
	--col-foreground: theme(--color-neutral-950);
}

.dark {
	--col-background: theme(--color-neutral-950);
	--col-foreground: theme(--color-neutral-50);
}

@theme {
	--color-background: var(--col-background);
	--color-foreground: var(--col-foreground);
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}

	/* https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor */
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}

@layer components {
	#app-root {
		@apply h-screen w-screen;
	}
}
